@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,700&family=Raleway&display=swap');

$White: hsl(0, 100%, 100%);
$Grey-500: hsl(217, 12%, 63%);
$Grey-900: hsl(213, 19%, 18%);
$Grey-850: hsl(213, 19%, 23%);
$Grey-950: hsl(216, 12%, 8%);
$range-500: hsl(25, 97%, 53%);

body {
    font-family: 'Overpass';
    background-color: $Grey-950;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    .card-1 {

        visibility: hidden;
        display: none;
        background-color: $Grey-900;
        width: 400px;
        height: 380px;
        border-radius: 10px;
        flex-direction: column;
        box-sizing: border-box;
        padding: 25px;
        margin: 0;

        .star {
            background-color: $Grey-850;
            padding: 10px;
            border-radius: 50%;
            margin-bottom: 20px;
        }
        h2 {
            color: $White;
        }
        p {
            color: $Grey-500;
        }

        .rate-num {
            display: flex;
            justify-content: space-between;

            #btn-rate {
                border: none;
                background-color: $Grey-850;
                padding: 20px;
                border-radius: 50%;
                height: 4em;
                width: 4em;
                color: $Grey-500;
            }
        }
        
        #btn-submit {
            border: none;
            background-color: $range-500;
            color: $Grey-950;
            padding: 10px 150px;
            border-radius: 18px;
            margin: 20px 0;
        }
    }

    #card-2 {
        background-color: $Grey-900;
        width: 350px;
        height: 350px;
        border-radius: 10px;
        flex-direction: column;
        box-sizing: border-box;
        padding: 25px;
        margin: 0;
        justify-items: center;

        img {
            display: flex;
        }

        #atention {
            background-color: $Grey-850;
            padding: 5px 15px;
            border-radius: 18px;
            color: $range-500;
            font-size: 15px;
        }
        
        h2 {
            padding-top: 15px;
            color: $White;
        }

        .desc {
            text-align: center;
            font-size: 15px;
            color: $Grey-500;
        }
    }
}